{% extends "careers/base_careers.html" %}

{% block title %}Canonical | Careers | All current vacancies{% endblock %}
{% block meta_description %}If you’re interested in open source software, the cloud or mobile devices, Canonical is an incredible place to work. Whether you’re a technologist, a designer or a business professional, opportunities exist to work from home or at one of our key offices around the world.{% endblock %}
{% block meta_keywords %}Canonical, Ubuntu, Linux, open source, free, software, design, designer, development, developer, programmer, engineer, UX, user, experience, interface, technology, IT, job, career, work, vacancy, vacancies, London, Taipei, Montreal, Boston, Shanghai, work from home, working from home, cloud, phone, smartphone, mobile{% endblock %}
{% block head_extra %}
	<script src="//www.google.com/jsapi"></script>
	<script>google.load("feeds", "1");</script>
{% endblock %}

{% block content %}
<div class="strip row">
	<div class="inner-wrapper">
		<div class="eight-col">
			<p>
				<a href="{% url 'vacancies' %}">Example vacancies link</a>
			</p>
			<p>
	            <form action="" method="post">
	                {{ form }}
	                <input type="submit" value="Submit" />
	            </form>
			</p>
		</div>
	</div>
</div>

{% endblock content %}
